*{
	margin: 0;
	box-sizing: border-box;
}
:root{
	--primary-color: #55ddff;
	--light-primary: #55ddff80;
	--hover: #55ddff0e;
}
html{
	font-size: 100%;
	font-family: 'Mali', cursive;
}
body{
	font-size: 100%;
	display: flex;
	height: 100vh;
	flex-direction: column;
	background-color: #18191a;
	color: whitesmoke;
}
a{
	color: inherit;
	text-decoration: none;
	padding-top: 1rem;
	display: inline-block;
}
a:hover {
	text-decoration: underline;
}
ul {
	padding-left: 0;
	list-style-type: none;
}

.container {
	margin: auto;
	width: min-content;
}
.tabs {
	display: flex;
	position: relative;
}
.tab-item {
	display: flex;
	color: var(--light-primary);
	align-items: center;
	gap: .75rem;
	position: relative;
	font-size: 1.5rem;
	padding: .75em 1em;
	border-radius: 4px 4px 0 0;
	border-bottom: 6px solid transparent;
}
/* .tab-item span {
	color: var(--primary-color);
} */
.tab-item:hover {
	background-color: var(--hover);
	border-bottom-color: var(--light-primary);
}
.tab-item.active, .tab-item:hover {
	color: var(--primary-color);
}
.tab-item.active span, .tab-item:hover span {
	color: whitesmoke;
}
.tab-item i{
	font-size: 1.2em;
}
.line {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 6px;
	border-radius: 1rem;
	background-color: var(--primary-color);
	transition: all .2s ease-in-out;
}

.tab-content.active {
	display: block;
}
.tab-content{
	margin-top: 1rem;
	font-size: 1.4rem;
	display: none;
	color: whitesmoke;
}
.tab-content h2 {
	font-size: 1.5em;
}
.tab-content p {
	margin-top: .5rem;
}