*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root{
	--success: #71be34;
	--info: #2f86eb;
	--warning: #ffb702;
	--danger: #ff623d;
}
html{
	font-size: 100%;
	font-family: 'Mali', cursive;
}
body{
	font-size: 100%;
	display: flex;
	flex-direction: column;
}

.buttons{
	width: 100vw;
	height:50vh;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.btn{
	font-size: 0.9rem;
	display: inline-block;
	border: none;
	background-color: transparent;
	outline: none;
	text-decoration: none;
	color: white;
	padding: 0.75em 4em;
	border-radius: 1.5em;
	cursor: pointer;
	transition: 0.2s;
}
.btn:hover:not(.btn--disabled){
	opacity: 0.8;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3),
	1px 1px 6px rgba(0, 0, 0, 0.2);
}
.btn + .btn{
	margin-left: 1rem;
}

.btn--success{
	background-color: var(--success);
}
.btn--info{
	background-color: var(--info);
}
.btn--warning{
	background-color: var(--warning);
}
.btn--danger{
	background-color: var(--danger);
}
.btn--lg{
	font-size: 1rem;
}
.btn--sm{
	padding: 0.5em 3em;
}
.btn--disabled{
	opacity: 0.6!important;
	cursor: default;
}

/* toast */
#toasts{
	position: fixed;
	top: 1rem;
	right: 1rem;
}
.toast{
	--color: black;
	width: 450px;
	max-width: 100%;
	display: flex;
	align-items: center;
	background-color: rgba(255,255,255,0.9);
	padding: 1.5rem 0rem;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09),
	1px 2px 10px rgba(0, 0, 0, 0.08);
	border-left: 4px solid var(--color);
	border-radius: 4px;
	transition: 0.4s;
}
.toast + .toast{
	margin-top: 1.5rem;
}
.toast__icon{
	color:var(--color);
	font-size: 2.5rem;
}
.toast__close,
.toast__icon{
	padding: 0rem 1rem;
	display: inline-block;
}
.toast__body{
	font-size: 1rem;
	flex-grow: 1;
}
.toast__title{
	color: #333;
	font-weight: 600;
}
.toast__msg{
	margin-top: 6px;
	color: #888;
}
.toast__msg::after{
	content: "!";
}
.toast__close{
	color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
	font-size: 2rem;
	justify-self: flex-end;
}

.toast--success{
	--color: var(--success);
}
.toast--info{
	--color: var(--info);
}
.toast--warning{
	--color: var(--warning);
}
.toast--danger{
	--color: var(--danger);
}

@keyframes slideIn {
	0%{
		filter: blur(5px);
		transform: translateX(calc(100% + 1rem));
	}
	100%{
		filter: blur(0px);
		transform: translateX(0);
	}
}
@keyframes fadeOut {
	100%{
		opacity: 0;
		display: none;
	}
}

@media (max-width: calc(740em/16)) {
	.btn{
		box-sizing: border-box;
		min-width: 50%;
	}
	
	#toasts{
		top: 0;
		right: 0;
		left: 0;
	}
	.toast + .toast{
		margin-top: 0;
	}
}